<h1><%= @blogger.name %></h1>
<h3>Age: <%= @blogger.age %></h3>
<h3>Bio:</h3>
<p><%= @blogger.bio %></p>
<h3>Total likes: <%= @blogger.total_likes %></p>
<% @blogger.featured_post.try do |post| %>
<h3>Featured Post</h3>
<p><%= link_to post.title, post_url(post) %></p>
<% end %>
<h3>All Posts</h3>
<ul>
<% @blogger.posts.each do |post| %>
<li><%= link_to post.title, post_url(post) %> - likes: <%= post.likes %></li>
<% end %>
</ul>

